{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
    <div>
        <form id ="fr" method="post" action="{{ path('app_examen_doCon') }}">
            <input type="text" name="op1"><br/>
            <input type="text" name="op2"><br/>

            <input type="submit" value="conc"><br/>
        </form>

    </div>

{% endblock %}